.owerlay {
  position: relative;
  overflow: hidden;
}

.div--owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--btn-color-blue);
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.content__link:hover .div--owerlay,
.content__link:focus .div--owerlay {
  opacity: 0.9;
  transform: translateY(0%);
}
.content__text--owerlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--header-color-white);
}
.div--content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.content__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color-black);
}

.content__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
